#galeria #galeria *  {box-sizing:border-box,-moz-box-sizing:border-box}
#galeria{
border:1px solid #EAEAEA; 
padding:10px;
padding-bottom:0;
 
}
#galeria_miniaturas {
display:table;
margin:0 auto;
}
#imgGaleria {
border:1px solid #F2F2F2;  
padding:3px;
width:500px;
height:500px; 
}
.miniatura {
width:60px;  
height:60px; 
float:left;
cursor:pointer;
padding:5px;
margin:10px 5px;
}
.miniatura:hover {
opacity:0.8;   
-moz-opacity:0.8;
-khtml-opacity:0.8;
filter:alpha(opacity=80);
}
.miniatura:active {
opacity:1;
-moz-opacity:1;
-khtml-opacity:1;
filter:alpha(opacity=80);
}

/*Galeria dos*/
   section{
                width:100%;
                margin:0 auto;
            }

            /*Para que el contenedor muestre elementos aunque estos sean flotantes*/
            #contenedor:after {
                content:" ";
                display:block;
                height:0;
                clear:both;
            }

            #contenedor{
                width:90%;
                margin:40px auto;
            }

            /*Estructura de cada componente de la galeria (imagen + descripcion)*/
            #contenedor div{
                position:relative;
                width:28%;
                height:auto;
                -webkit-transform:rotate(-8deg);
                display:inline;
                float:left;
                margin:5px 3% 5px 0;
                z-index:1;
                transition:width 1s, width 1s, top 1s;
                -webkit-transition:-webkit-transform 1s, width 1s, top 1s;
            }

            /*Se rota ligeramente al posicionarnos encima del componente de la galeria (imagen + descripcion)*/


            #contenedor div:hover{
                -webkit-animation:rotate-img 1s;
                -o-animation:rotate-img 1s;
                -moz-animation:rotate-img 1s;
                -ms-animation:rotate-img 1s;
                animation:rotate-img 1s;
                -webkit-transform:rotate(0deg);
            }

            #contenedor div.select{
                -webkit-transform:rotate(0deg);
                position:fixed;	
                width:100%;
                height:100%;
                top:0;
                left:0;
                z-index:5;
                background:rgba(0,0,0,0.5);
                margin:0;
            }

            #contenedor div.select img{
                width:30%;
                height:auto;
                box-shadow:0 0 20px #DDD;
                border:5px solid #FFF;
                position:fixed;	
                top:20%;
                left:40%;
            }



            #contenedor div.select + div{
                margin:5px 3% 5px 31%;
            }

            #contenedor div img{
                width:100%;
                height:auto;
                box-shadow:0 0 10px #666;
                border:5px solid #FFF
            }

            /*Estructura de la descripcion, por defecto no se muestra*/
            #contenedor div img ~ span{
                width:auto;
                opacity:0;
                -webkit-transition: opacity 1s;
                margin:0;
                padding:5px 10px;
                border-radius: 2px;
                color:#000;
                background:rgb(255, 255, 255);
                text-align:center;
                position:fixed;	
                top:20%;
                left:40%;
            }

            /*Se muestra la descripcion al posicionar el cursor encima de la imagen*/
            #contenedor div.select img + span{
                opacity:1;
            }

            /*Media query de ejemplo para pantallas de alta resolucion
              pero pueden haber mas, este media query permite mostrar hasta 5 imagenes por filas
            */
            @media (min-width:1600px){
                #contenedor div{
                    width:15%;
                }

                #contenedor div.select + div{
                    margin:5px 3% 5px 15%;
                }

            }

            @keyframes rotate-img
            {
                0%   {transform:rotate(10deg);}
            20%  {transform:rotate(-10deg);}
            40%   {transform:rotate(12deg);}
            60%  {transform:rotate(-12deg);}
            80%   {transform:rotate(8deg);}
            90%  {transform:rotate(-8deg);}
            100%  {transform:rotate(0deg);}
            }

            @-moz-keyframes rotate-img
            {
                0%   {-moz-transform:rotate(10deg);}
            20%  {-moz-transform:rotate(-10deg);}
            40%   {-moz-transform:rotate(12deg);}
            60%  {-moz-transform:rotate(-12deg);}
            80%   {-moz-transform:rotate(8deg);}
            90%  {-moz-transform:rotate(-8deg);}
            100%  {-moz-transform:rotate(0deg);}
            }

            @-webkit-keyframes rotate-img
            {
                0%   {-webkit-transform:rotate(4deg);}
            20%  {-webkit-transform:rotate(-4deg);}
            40%   {-webkit-transform:rotate(3deg);}
            60%  {-webkit-transform:rotate(-3deg);}
            80%   {-webkit-transform:rotate(2deg);}
            90%  {-webkit-transform:rotate(-2deg);}
            100%  {-webkit-transform:rotate(0deg);}
            }
			nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:table;
	
	width:100%;
	
	position:relative;
}
 
nav > ul li {
	display:table-cell;
}
 
/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}
 
nav > ul > li > ul {
	display:block;
	position:absolute;
	
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul li a {
	color:#000;
	font-size:25;
	font-weight:bold;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
 
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}
 
/*Colores*/
nav ul li a .primero {
	background:#0e5061;
}
 
nav ul li a .segundo {
	background:#5da5a2;
}
 
nav ul li a .tercero {
	background:#f25724;
}
 
nav ul li a .cuarto {
	background:#174459;
}
 
nav ul li a .quinto {
	background:#37a4d9;
}
 
 /*#contenedor1
{
	background-image: url("../Imagenes/fondo1.jpg");
   background-size:100%;
    background-attachment: fixed;
	width:100%;
	margin:1 auto;
	box-shadow:0px 0px 10px #000;
	border-radius:20px;
	border:1px solid black;
}*/
header {
	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}
h1

{	background-color:#000;
	padding:3px;
	text-align:center;
	color:#0F0;
	border-radius:20px 20px 20px 20px;
	border:3px solid black;
}
* {
	margin:0;
	padding:0;
}


  #contenedor3:after {
                content:" ";
                display:block;
                height:0;
                clear:both;
                 bottom: 140px;
                 position:relative;
            }

            #contenedor3{
                width:100%;
                margin:0px auto;
                 bottom: 140px;
                 position:relative;
            }


.boton {
text-decoration:none;
font-weight:100;
font-size:15px;
color:#ffffff;
padding-top:15px;
padding-bottom:15px;
padding-left:50px;
padding-right:50px;
background-color:#000000;
margin-left: 1400px;
border:1px;
position:relative;
bottom:33px;


}
/* Este es el estilo al poner el cursor encima del boton*/
.boton:hover {
background-color:#1977EF;
}


body, html {
    height: 90%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../Imagenes/fondo1.jpg");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}


