@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700');

h2{
   font-size: 72px;
  background: -webkit-linear-gradient(#ff0000, #7686fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  bottom:250px;
}

h2 {
animation-duration: 12s !important; /*tiempo que dura la animación*/ 
animation-delay: 17s; /*tiempo de espera hasta que se produce la animación*/
/*  animation-iteration-count: infinite;*/
}













h4{
animation-duration: 12s !important; /*tiempo que dura la animación*/ 
animation-delay: 19s; /*tiempo de espera hasta que se produce la animación*/
/*  animation-iteration-count: infinite;*/
}









